<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="root.invoices.new"><span class="glyphicon glyphicon-plus"></span> New Invoice</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class=""><a ng-href="#"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
