<div>
<!--<div contenteditable="true" class="form-control" placeholder=" Use tags to create dynamic descriptions i.e. Lunch for [month] [year]">
</div>-->
<textarea ng-model="tagged.value" class="form-control"></textarea>
<small> use tags like [day] [month] [year]</small>
</div>