  <div class="jumbotron text-center">
    <h1>Invoicing App</h1>
    <p class="lead">
      Click below to start creating your invoice!
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ui-sref="root.invoices.new">Create New Invoice</button>
    </p>
    <p>
      Made by Mateusz Kulesza 
    </p>
  </div>

