<form>
<div class="row">
	<div class="col-md-12">
		<h1>New Invoice</h1>
		<hr/>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<panel>
			<panel-head>Numbering and dates</panel-head>
			<panel-body>

<div class="row">
	<div class="col-md-12">
			<div class="form-inline">
				<div class="form-group">
				    <label for="invoice_number">Number</label>
				    <input type="text" class="form-control" id="invoice_number" placeholder="Number">
				</div>
				<div class="form-group">
				    <label for="issue_date">Issue date</label>
				    <input type="date" class="form-control" id="issue_date" placeholder="Issue Date">
				</div>
				<div class="form-group">
				    <label for="invoice_number">Number</label>
				    <input type="text" class="form-control" id="invoice_number" placeholder="Number">
				</div>
				<div class="form-group pull-right">
				  <input type="checkbox" ng-model="invoice.reccur" id="reccur" class="form-control">
			  	  <label for="reccur">Recurring invoice</label>
				</div>
			</div>
		</div>
	</div>
			</panel-body>
		</panel>
	</div>
</div>

<div class="row" ng-if="invoice.reccur" ng-controller="InvoiceScheduleController as schedule">
	<div class="col-md-12">
		<panel>
			<panel-head>Recurring Invoice settings</panel-head>
			<panel-body>
			<div class="row">
				<div class="col-md-6 form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2">Start date</label>
						<div class="col-sm-10">
					    <input type="date" ng-model="start_date" class="form-control">
					    </div>
				    </div>
					<div class="form-group">
						<label class="control-label col-sm-2">End date</label>
						<div class="col-sm-10">
					    <input type="date"  ng-model="end_date" class="form-control">
					    </div>
				    </div>
					<div class="form-group">
						<label class="control-label col-sm-2">Dynamic description</label>
						<div class="col-sm-10">
							<tagged-input ng-model="description"></tagged-input>
						</div>
					</div>
				</div>
				<div class="col-md-6">
				<div class="form-group">
					<input id="advanced" type="checkbox" ng-model="advanced">
					<label for="advanced" ng-bind="advanced? 'Advanced schedule enabled' : 'Advanced schedule disabled'">  </label>
				</div>
				<div class="form-horizontal" ng-if="!advanced">
					<div class="form-group">
						<label class="control-label col-sm-2">Frequency</label>
						<div class="col-sm-10">
						    <select class="form-control" 
						    	ng-model="frequency" 
						    	ng-change="schedule.setFrequency(frequency,start_date,end_date)"
						    	ng-options="item.schedule as item.label for item in schedule.frequencies">
						    	<option value="">-- select --</option>
						    </select>
					    </div>
					</div>
					<div class="form-group" ng-if="schedule.current.schedule.length">
						<h4> Dates of invoices </h4>
					    <ul>
							<li ng-repeat="date in schedule.current.schedule">
								Invoice on {{date |date:'dd.MM.yy'}} - {{schedule.interpolateDescription(description,date) || 'No description'}}
							</li>
					    </ul>
					</div>
				</div>
			<div class="form-inline" ng-if="advanced">
				<span> Repeat </span>
				<div class="form-group">
				    <select class="form-control">
				    	<option>once on</option>
				    	<option>each</option>
				    	<option>every</option>
				    </select>
				</div>
				<span>  </span>
				<div class="form-group">
				    <select class="form-control">
				    	<option>1st</option>
				    	<option>2</option>
				    </select>
				</div>
				<div class="form-group">
				    <select class="form-control">
				    	<option>Day</option>
				    	<option>Week</option>
				    	<option>Month</option>
				    	<option>Year</option>
				    </select>
				</div>
				<span> of each </span>
				<div class="form-group">
				    <select class="form-control">
				    	<option>Week</option>
				    	<option>Month</option>
				    	<option>Year</option>
				    </select>
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>

			</panel-body>
		</panel>
	</div>
</div>


<div class="row">
	<div class="col-md-6">
		<panel>
			<panel-head>Seller</panel-head>
			<panel-body>
			<div class="form">
				<div class="form-group">
				    <label for="seller_name">Seller name</label>
				    <input type="text" class="form-control" id="seller_name" placeholder="Seller name">
				</div>
				<div class="form-group">
				    <label for="seller_taxno">Tax number</label>
				    <input type="text" class="form-control" id="seller_taxno" placeholder="Tax number">
				</div>
			</div>
			</panel-body>
		</panel>
	</div>
	<div class="col-md-6">
		<panel>
			<panel-head>Buyer</panel-head>		
			<panel-body>
			<div class="form">
				<div class="form-group">
				    <label for="buyer_name">Buyer name</label>
				    <input type="text" class="form-control" id="buyer_name" placeholder="Buyer name">
				</div>
				<div class="form-group">
				    <label for="buyer_taxno">Tax number</label>
				    <input type="text" class="form-control" id="buyer_taxno" placeholder="Tax number">
				</div>
			</div>
			</panel-body>
		</panel>
	</div>
</div>

<panel>
	<panel-head>
		Charges
	</panel-head>
	<!--<div class="panel-body">
	</div>-->
	<panel-body>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Position Name</th>
					<th>Amount</th>
					<th>Unit</th>
					<th>Net price</th>
					<th>Tax</th>
					<th>Net value</th>
					<th>Gross value</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in invoice.items">
					<td ng-bind="item.name"></td>
					<td ng-bind="item.amount"></td>
					<td ng-bind="item.unit"></td>
					<td ng-bind="item.net_price"></td>
					<td ng-bind="item.tax"></td>
					<td ng-bind="item.net_value"></td>
					<td ng-bind="item.gross_value"></td>
					<td>
						<button class="btn btn-xs btn-danger pull-right">&times;</button>
					</td>
				</tr>
				<tr style="border:0; background:0">
					<td colspan="5" style="border:0;"></td>
					<th>Net total</th>
					<th ng-bind="invoice.net_total"></th>
				</tr>
				<tr style="border:0; background:0">
					<td colspan="5" style="border:0"></td>
					<th>Tax total</th>
					<th ng-bind="invoice.tax_total"></th>
				</tr>
				<tr style="border:0; background:0">
					<td colspan="5" style="border:0"></td>
					<th>Gross total</th>
					<th ng-bind="invoice.gross_total"></th>
				</tr>
			</tbody>			
		</table>
	</panel-body>
</panel>

<div class="row">
	<div class="col-md-12">
		<div class="pull-right" role="group" aria-label="...">
		  <button type="button" class="btn btn-primary">Send</button>
		  <button type="button" class="btn btn-success">Save</button>
		  <button type="button" class="btn btn-danger">Discard</button>
		</div>
	</div>
</div>
</form>