<div class="panel panel-default">
	<div class="panel-heading" 
		 ng-if="::panel.head" 
		 ng-transclude="head"></div>
	<div class="panel-body" 
		 ng-if="::panel.body" 
		 ng-transclude="body"></div>
	<div class="panel-footer" 
		 ng-if="::panel.footer" 
		 ng-transclude="footer"></div>
</div>